<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
         
         <filter>
         	<filter-name>HibernateFilter</filter-name>
         	<filter-class>com.programmers.hibernateutil.HibernateFilter</filter-class>
         </filter>

		<filter-mapping>
			<filter-name>HibernateFilter</filter-name>
			<url-pattern>*.html</url-pattern>
		</filter-mapping>
	<servlet>
		<servlet-name>DisplayAllTutorsServlet</servlet-name>
		<servlet-class>com.programmers.servlets.DisplayAllTutorsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DisplayAllTutorsServlet</servlet-name>
		<url-pattern>/displayAllTutors.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddNewTutorServlet</servlet-name>
		<servlet-class>com.programmers.servlets.AddNewTutorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AddNewTutorServlet</servlet-name>
		<url-pattern>/addNewTutor.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DisplayStudentsForTutorServlet</servlet-name>
		<servlet-class>com.programmers.servlets.DisplayStudentsForTutorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DisplayStudentsForTutorServlet</servlet-name>
		<url-pattern>/displayTutorDetail.html</url-pattern>
	</servlet-mapping>
	
</web-app>
